$Holiday-Cheer-1-hex: #024554;
$Holiday-Cheer-2-hex: #53736a;
$Holiday-Cheer-3-hex: #6a8c69;
$Holiday-Cheer-4-hex: #a8b545;
$Holiday-Cheer-5-hex: #c2c0a6;
$font-stack: Arial, Helvetica, sans-serif;
$border-radius: 5px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $Holiday-Cheer-1-hex;
  color: $Holiday-Cheer-5-hex;
  line-height: 1.6;
  font-family: $font-stack;
}

.container-input {
  height: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    background-color: $Holiday-Cheer-5-hex;
    color: $Holiday-Cheer-1-hex;
    width: 300px;
    height: 50px;
    padding: 10px;
    border-radius: $border-radius;
    font-size: larger;
  }

  button {
    background-color: $Holiday-Cheer-2-hex;
    color: $Holiday-Cheer-5-hex;
    border: 1px solid black;
    border-radius: $border-radius;
    height: 50px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    font-size: larger;
  }
}
