$Holiday-Cheer-1-hex: #024554;
$Holiday-Cheer-2-hex: #53736a;
$Holiday-Cheer-3-hex: #6a8c69;
$Holiday-Cheer-4-hex: #a8b545;
$Holiday-Cheer-5-hex: #c2c0a6;
$font-stack: Arial, Helvetica, sans-serif;
$border-radius: 5px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $Holiday-Cheer-2-hex;
  color: $Holiday-Cheer-5-hex;
  line-height: 1.6;
  font-family: $font-stack;
}

.container {
  margin: 20vh auto;
  padding: 30px 0;
  background: $Holiday-Cheer-1-hex;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .container-input {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      background-color: $Holiday-Cheer-5-hex;
      color: $Holiday-Cheer-1-hex;
      width: 300px;
      height: 50px;
      padding: 10px;
      border-radius: $border-radius;
      font-size: larger;
    }

    button {
      background-color: $Holiday-Cheer-2-hex;
      color: $Holiday-Cheer-5-hex;
      border-radius: $border-radius;
      height: 50px;
      padding: 10px;
      margin: 10px;
      cursor: pointer;
      font-size: larger;
    }
  }
  .container-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 50px;
  }
  .hidden {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container-input {
    flex-direction: column;

    input {
      margin-bottom: 10px;
    }
    button {
      padding-top: 10px;
      margin-top: 15px;
    }
  }
}
