$Holiday-Cheer-1-hex: #024554;
$Holiday-Cheer-2-hex: #53736a;
$Holiday-Cheer-3-hex: #6a8c69;
$Holiday-Cheer-4-hex: #a8b545;
$Holiday-Cheer-5-hex: #c2c0a6;
$font-stack: Arial, Helvetica, sans-serif;
$border-radius: 5px;

.icon:hover {
  cursor: pointer;
}

.icon {
  color: $Holiday-Cheer-5-hex;
}

.container-links {
  margin: 30px auto;
  width: 800px;
  display: flex;
  flex-direction: column;

  .empty-text {
    width: 100%;
    text-align: center;
    margin-top: 28px;
  }

  header {
    display: flex;
    align-items: center;
    background-color: $Holiday-Cheer-1-hex;
    padding: 5px 20px;
    border-radius: $border-radius;
    height: 70px;

    h2 {
      margin: 0 20px;
      font-size: 1.9rem;
    }
  }

  .container-external {
    display: flex;
    border-radius: $border-radius;
    margin: 10px 0;
    background-color: $Holiday-Cheer-1-hex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    padding-right: 30px;

    .container-internal {
      width: 80vw;
      display: flex;
      padding: 10px 20px;
      margin: 15px 0;
      align-items: center;

      p {
        width: 600px;
        margin: 0 20px;
        font-size: 1.5rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
        text-align: left;
      }
    }
  }
}

@media (max-width: 715px) {
  .container-links {
    width: 100vw;

    header {
      h2 {
        margin-left: 20px;
        font-size: 1.6rem;
      }
    }
    .container-external {
      .container-internal {
        p {
          font-size: 1rem;
        }
      }
    }
  }
}
